* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-width: 992px;
  font-family: "Helvetica";
}

/* navbar */
#navbar{
  height: 60px;
  width: 100%;
  background: white;
}
#logo{
  display: inline-block;
  padding-left: 30px;
  line-height: 60px;
}
ul{
  float:right;
  margin: 0;
  padding: 0;
  line-height: 60px;
  padding-right: 60px;
}
a{
  text-decoration: none;
  color:black;
}
li{
  display: block;
  float:right;
  font-weight: bold;
  margin-left: 30px;
}
/* hero header */
#hero-header{
  height: 460px;
  background-image: url('../images/hero_header.jpg');
  background-size: cover;
}
/* products */
#products{
  width: 715px;
  margin-right: auto;
  margin-left: auto;
}
h1{
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color:#545454;
  margin: 60px 0 60px 0;
}
.div1{
  float: left;
  margin-bottom: 80px;
}
.div1>p{
  text-align: center;
  font-size: 16px;
  margin:4px 0 0 0;
  color:gray;
}
a{
  color:black;
}
/* footer */
#helper{
  clear: left;
}
#footer{
  margin-top:40px;
  margin-bottom: 80px;
}
.sns{
  width: 150px;
  margin-right: auto;
  margin-left: auto;
}
#a2{
  margin: 0 20px 0 20px;
}